{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                </article>
                {% if loop.length == 1 %}
                    {% include 'pagination.html' %}
                {% endif %}
            </aside><!-- /#featured -->
            {% if loop.length > 1 %}
                <section id="content" class="body">
                    <h1>Other articles</h1>
                    <ol id="posts-list" class="hfeed">
            {% endif %}
        {# other items #}
        {% else %}
            {% if loop.first and articles_page.has_previous %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
            {% endif %}
            <li><article class="hentry">
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                </header>

                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            </article></li>
        {% endif %}
        {% if loop.last %}
            </ol><!-- /#posts-list -->
            {% if loop.last and (articles_page.has_previous()
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
{% else %}
<section id="content" class="body">
  <p>This webpage hosts TESS light curve data for transients reported to the Transient Name Server (<a href="https://www.wis-tns.org/">wis-tns.org</a>) that were also observed in TESS full frame images. </p>

  <p>We plan to update the data every 7 days, using the <a href="https://archive.stsci.edu/hlsp/tica"  </a> TICA High Level Science products on MAST</a>.   </p>

<!---  <p>The light curves are organized by TESS observing sector. On each sector page, there are figures showing the TESS light curves for each transient, as well as a link to the underlying data.  </p> --->

  <p>All transients observed in a given sector are shown on a single page. To find a specific transient, you need to know which sector it was observed in. You can use a tool like <a href="https://github.com/christopherburke/tess-point"> tess-point</a> to find which sector a given transient was observed in based on its RA and Dec.</p>

    <p>  There is also an API to download individual light curves, for example <code>wget https://tess.mit.edu/public/tesstransients/light_curves/lc_2022sfe_cleaned</code>. In this case, you only need to know the IAU designation of the transient (replace "2022sfe" with the IAU designation). For bulk downloads, the latest data is available on the the Bulk Downloads
page. However, you may prefer to
access the data, which is under version contol, through <a href="https://github.com/mmfausnaugh/lc_bulk"> this github
repo</a>.</p>


  <p> These light curves are processed automatically and we do not check their quality. In our experience, the data are reliable when the background/scattered light levels are low.  However, there are very large systematic errors during periods of strong scattered light. Blended signals from variable stars and asteroids are also common. Please contact Michael Fausnaugh (michael.fausnaugh@ttu.edu) for questions about the pipeline or individual light curves. </p>

    <p> Only transients discovered  while TESS was observing are presented here. We plan to add prediscovery light curves from TESS in the future near future.  A subset of confirmed supernovae per sector is also available.</p>

  <p> The full README contains useful information about downloading
  data, format of the light cure files, and various caveats and
  helpful tips. </a></p>


<p> Please cite <a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...908...51F/abstract"> Fausnaugh et al. 2021 </a> or <a href="https://ui.adsabs.harvard.edu/abs/2023ApJ...956..108F/abstract"> fausnaugh et al. 2023 </a> if you use these data.  </p>

{% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
